.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.right{
	float: right;
	margin-right: 50px;
}
.left{
	float: left;
	margin-left: 50px;
}
.left_name
{float: left;
	margin-left: 50px;
	font-size: 30px;
	font-weight: bold;
}
.background_colour
{

	background-color: #27F2C5;
}